{% extends 'base.html' %}

{% block title %}Cupcakes!{% endblock %}

{% block content %}
<div class="container" id="content">
    <h2 class="display-3">Cupcakes!</h2>
    <form action="#" class="m-2" id="cupcakeForm">
        <div class="row">
            {{ form.hidden_tag() }}
            {% for field in form 
                if field.widget.input_type != 'hidden' %}
            <div class="col">
                {{field(class_="form-control")}}
            </div>
            {% endfor %}
            <div class="col">
                <button class="btn btn-primary" name="btn" id="cupcakeSubmit">Submit</button>
            </div>
        </div>
    </form>
    <div class="row m-3" id="cupcakeList">
        
    </div>
</div>
<script src="static/app.js"></script>
{% endblock %}